<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
      <add name="ConDB" connectionString="Provider=SQLOLEDB;Data Source=DESKTOP-685T7UV;Initial Catalog=DBZONAPAGO;Integrated Security=SSPI;"/>
    </connectionStrings>
</configuration>
